@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

.row div {
    background-color: #F45D01;
    margin: 5px;
    color: #474647;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
    color: #0A0903;
}
h2 {
    color: #F45D01;
}
h6{
    color: #fdc029
}

.main-content {
    width: 50%;
    padding: 10px;
}

div {
    font-family: 'Roboto Mono', monospace;
    font-size: larger;
}

body {
    background-color: #474647;
}

footer {
    font-size: x-small;
    text-align: center;
    color: #F45D01;
}

footer a {
    color: #F45D01;
}

footer a:hover {
    color: #EEB902;
}